# -------------------------------------------------------------------
# Project
# -------------------------------------------------------------------
COMPOSE_PROJECT_NAME=market_streaming_data_platform
ENVIRONMENT=local

# -------------------------------------------------------------------
# Market data source
# -------------------------------------------------------------------
MARKET_EXCHANGE=binance
MARKET_SYMBOLS=BTCUSDT,ETHUSDT,SOLUSDT

# -------------------------------------------------------------------
# Kafka
# -------------------------------------------------------------------
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_EXTERNAL_PORT=9092

KAFKA_TOPIC_TRADES_RAW=market.trades.raw
KAFKA_TOPIC_TRADES_CLEANED=market.trades.cleaned
KAFKA_TOPIC_CANDLES_1M=market.candles.1m

# -------------------------------------------------------------------
# Iceberg REST Catalog
# -------------------------------------------------------------------
ICEBERG_REST_URI=http://iceberg-rest:8181
ICEBERG_REST_PORT=8181
ICEBERG_CATALOG_NAME=market_catalog
ICEBERG_WAREHOUSE=s3://market-lake/warehouse

# -------------------------------------------------------------------
# Local S3-compatible object storage
# -------------------------------------------------------------------
S3_ENDPOINT=http://minio:9000
S3_REGION=us-east-1
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET=market-lake

# -------------------------------------------------------------------
# ClickHouse
# -------------------------------------------------------------------
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000
CLICKHOUSE_NATIVE_HOST_PORT=9002

CLICKHOUSE_DATABASE=market_data
CLICKHOUSE_USER=market_user
CLICKHOUSE_PASSWORD=market_password

# -------------------------------------------------------------------
# Spark
# -------------------------------------------------------------------
SPARK_MASTER_URL=spark://spark-master:7077
SPARK_MASTER_UI_PORT=8080
SPARK_WORKER_UI_PORT=8081

SPARK_CHECKPOINT_LOCATION=s3a://market-lake/checkpoints
